div.title{
    width: 1000px;
    height: 40px;
    background-color: darkcyan;
    text-align: left;
    font-size: 30px;
    font-family: "Impact";
    /*padding-left: 30px;*/
}
div.mannnaka{
    width: 1000px;
    height: 340px;
   margin-top: 20p
}



div.article{
    width: 700px;
    height: 20px;
    background-color: bisque;
    text-align: left;
    font-size: 15px;
    margin-left: 20px;
}

div.footer{
    width: 1000px;
    height: 40px;
    background-color: rebeccapurple;
    text-align: right;
    font-size: 30px;
    margin-top: 10px;
}

div.menu{
    width: 250px;
    height: 320x;
    margin-right: 25px;
    margin-top: 20px;
    display: inline-block;
     vertical-align: top;
}
div.menuitem{
    width: 250px;
    height: 100px;
    background-color: blue;
    display: block;
    vertical-align: top;
    font-size: 30px;
    font-family: "Impact";
    text-align: center;
    margin-bottom: 10px;
   
}


div.images{
    width: 700px;
    height: 340px;
    font-size: 40;
    display: inline-block;
    vertical-align: top;
   
}
div.image1{
    width: 700px;
    height: 300px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: black;
    display: inline-block;
    vertical-align: top;
    color: white;
    font-size: 20px;
}